*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-red:#E3646E;
    --color-purple: #BB72E9;
    --color-blue:#3996DB;
    --color-green:#82BC4F;
    --color-yellow:#EABD5F;
    --color-gray-100:#E2E4E9;
    --color-gray-200:#C0C4CE;
    --color-gray-300:#878EA1;
    --color-gray-400:#292C34;
    --color-gray-500:#16181D;
    --color-gray-600:#0D0E11;

    --font-asap: "Asap", sans-serif;
    --title-lg: bold 56px/120% var(--font-asap);
    --title-md:bold 24px/120% var(--font-asap);
    --title-sm:bold 16px/120% var(--font-asap);

    --font-inconsolata: "Inconsolata", sans-serif;
    --subtitle: 400 20px/120% var(--font-inconsolata)

    --font-maven-pro: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-maven-pro);
    --text-sm: 400 12px/140% var(--font-maven-pro);
}

body{
    background-color: var(--color-gray-400);
    color:var(--color-gray-100)
}
img{
    max-height: 100%;
}

