#intro{
    background-image: url(../assets/Backgrounds/Background_Intro.png);
    height: 750px;
}
#info{
    .avatar{
        content: center;
        .user{
            width: 100px; 
            height: 100px; 
            border-radius: 70%; 
            border: 6px solid hsla(0, 0%, 100%, 0); 
            box-shadow: 0 0 0 3px var(--color-red); 
            object-fit: cover; 
        } 
    }
    
}

header{
    width: 1366px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



