#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 56px;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 72px;
    }
    .projects-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr) ;
        gap: 36px;
        margin-bottom: 144px;
        .project-card{
            background-color: var(--color-gray-400);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            border-radius: 12px;
            padding: 15px;
            img{
                border-radius: 12px;
                margin-bottom: 20px;
            }
        }
    }
    .project-card:hover {
        border-color: var(--color-primary); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
    }
}
