.grid{
    display:grid;
}
.flex{
    display:flex;
}
.center{
    justify-self: center;
}
.grid-auto-flow{
    grid-auto-flow: rows;
}

.title-lg{
    font: var(--title-lg);
}
.title-md{
    font: var(--title-md);
}
.title-sm{
    font: var(--title-sm);
}
.subtitle{
    font: var(--subtitle);
    margin-bottom: 8px;
}
.text-sm{
    font: var(--text-sm);
    color: var(--color-gray-300);
}
.text-md{
    font: var(--text-md);
    color: var(--color-gray-200);
}
.highlight{
    margin-inline: 4px;
    color: var(--color-red);
}
.highlight-purple{
    margin-inline: 4px;
    color: var(--color-purple);
}